<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Store/Order Info
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
  <div class="card-block">

  <div class="field">
    <%= form.label :contact_id, 'OSH Store' %>
    <%= form.collection_select(:contact_id, Contact.where(contact_type: 4), :id, :name, class: 'form-control', include_blank: 'Select Customer') %>
  </div>

  <div class="field">
    <%= form.label :ponum, 'PO Number' %>
    <%= form.text_field :ponum, id: :order_ponum %>
  </div>

  <div class="field">
    <%= form.label :order_date, 'Order Date' %>
    <% if @order.order_date? %>
    <%= form.date_field :order_date %>
    <% else %>
    <%= form.date_field :order_date, :value => DateTime.now.strftime('%Y-%m-%d') %>
    <% end %>
  </div>

    <%= form.hidden_field :rep_id, value: current_user.contact.id %>


  <div class="field">
    <%= form.label :note %></br>
    <%= form.text_area :note, id: :order_note %>
  </div>


  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
      </div>
    </div>
  </div>
  <%# if @order.id.present? %>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Items
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <div class="well well-lg">
          <%= form.fields_for :order_items do |p| %>
          <%= p.label :product_id %>
            <%= p.collection_select(:product_id, Product.all, :id, :name, class: 'form-control', include_blank: "Select Product") %>
            <%= p.text_field :qty_order %>
            <%= p.text_field :qty_ship %>
            <%= p.text_field :cost %>
            <%= p.text_field :retail %>
          <% end %>
          <%= @order.order_items.count %>
        </div>
      </div>
       
      </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Total by SKU
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
See Rick about this one
      </div>
    </div>
  </div>
</div>
  I have an ID YAY!
  <%# else %>
  I need an ID before I can make items ;-)
  <%# end %>
<%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
