<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Store/Order Info
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">

        <div class="row">
          <div class="col-md-12">
            <div class="row">
               <div class="col-xs-6 col-sm-6">
                 <div class="form-group">
                   <label>Customer</label></br>
                     <%= form.collection_select(:contact_id, Contact.where(contact_type: 4), :id, :name, {include_blank: "Select Product"}, {class: 'form-control'}) %>
                 </div>
               </div>
               <div class="col-xs-6 col-sm-6">
                <div class="form-group">
                  <label class="col-form-label" for="inputDefault">PO Number</label>
                  <%= form.text_field :ponum, class: "form-control" %>
                </div>
               </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6">
                <div class="form-group">
                  <label class="col-form-label" for="inputDefault">Order Date</label>
                  <% if @order.order_date? %>
                   <%= form.date_field :order_date, class: 'form-control' %>
                  <% else %>
                   <%= form.date_field :order_date, :value => DateTime.now.strftime('%Y-%m-%d'), class: 'form-control' %>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6">
                <div class="form-group">
                  <label class="col-form-label" for="inputDefault">Note</label>
                  <%= form.text_field :note, class: "form-control" %>
                </div>
              </div>
              <div class="actions">
                <%= form.submit class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @order.id.present? %>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Items
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <%= form.fields_for :order_items do |p| %>
        <div class="row">
          <div class="col-xs-6 col-sm-2">
            <div class="form-group">
              <label>Item #</label></br>
              <%#= p.collection_select(:product_id, Product.all, :id, :name, {include_blank: "Select Product"}, {class: 'form-control'}) %>
               <%#= form.fields_for :products do |i| %>
                <%= p.text_field :product_id, {class: 'form-control'} %>
               <%# end %> 
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="form-group">
              <label class="col-form-label" for="inputDefault">Itm Qty</label>
              <%= p.text_field :qty_order, class: 'form-control', id: 'inputDefault' %>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="form-group">
              <label class="col-form-label" for="inputDefault">Ship Qty</label>
              <%= p.text_field :qty_ship, class: 'form-control', id: 'inputDefault' %>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="form-group">
              <label class="control-label">Cost</label>
                <div class="input-group">
                  <!-- <div class="input-group-addon">$</div> -->
                   <%= p.text_field :cost, class: 'form-control', placeholder: 'Amount', value: (number_with_precision(p.object.cost, :precision => 2) || 0) %>
                  <!-- <div class="input-group-addon"></div> -->
                </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4">
            <div class="form-group">
              <label class="control-label">Retail</label>
                <div class="input-group">
                  <!-- <div class="input-group-addon">$</div> -->
                   <%= p.text_field :retail, class: 'form-control', placeholder: 'Amount', value: (number_with_precision(p.object.retail, :precision => 2) || 0) %>
                   <%= form.submit class: 'btn btn-sm btn-success' %>
                  <!-- <div class="input-group-addon"></div> -->
                </div>
            </div>    
          </div>
        </div>
      <hr></hr>
    <% end %>
      </div>
  </div>
  <% else %>
  <% end %>
<% end %>
</div>
<%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>


