<h1>Editing Order</h1>
<%= link_to 'Show Order', @order, class: 'btn btn-success' %> 
<%= link_to 'Back', orders_path, class: 'btn btn-success' %>

<%= render 'form', order: @order %>

<%= link_to 'Show Order', @order, class: 'btn btn-success' %> 
<%= link_to 'Back', orders_path, class: 'btn btn-success' %>
