<div class="container-fluid">
<p id="notice"><%= notice %></p>
<%= link_to 'New Contact', new_contact_path %>
<h1>Contacts</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Storenum</th>
      <th>Address</th>
      <th>Suite</th>
      <th>City</th>
      <th>State code</th>
      <th>Zip</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Contact type</th>
      <th>Billto</th>
      <th>Rep</th>
      <th>Id cs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %> <%= contact.id %></td>
        <td><%= contact.storenum %></td>
        <td><%= contact.address %></td>
        <td><%= contact.suite %></td>
        <td><%= contact.city %></td>
        <td><%= contact.state_code %></td>
        <td><%= contact.zip %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.contact_type %></td>
        <td><%= contact.billto&.name %><%= contact.billto_id %></td>
        <td><%= contact.rep_id %></td>
        <td><%= contact.id_cs %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
</div>
