<div class="container">
<p id="notice"><%= notice %></p>
<%= link_to 'New Contact', new_contact_path %>
<h1>Contacts</h1>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <% @contacts.each_with_index do |item, index| %>
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index.to_s %>" aria-expanded="true" aria-controls="collapse<%= index.to_s %>">
          <%= item.name %>
        </a>
      </h5>
    </div>

    <div id="collapse<%= index.to_s %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= index.to_s %>">
      <div class="card-block">
           <%= item.email %>
          <%= "#{item.address} #{item.suite} #{item.city} #{item.state_code} #{item.zip}" %>
           </br>
           <% @contacts.where(id: item).first.products.limit(15).each do |prod| %>
             <ul>
               <li><%= prod.name %></li>
             </ul>
           <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Contact', new_contact_path %>
</div>
